# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
cuda-cccl=12.1.109=0
cuda-cudart=11.8.89=0
cuda-cudart-dev=11.8.89=0
cuda-cupti=11.8.87=0
cuda-libraries=11.8.0=0
cuda-libraries-dev=11.8.0=0
cuda-nvrtc=11.8.89=0
cuda-nvrtc-dev=11.8.89=0
cuda-nvtx=11.8.86=0
cuda-profiler-api=12.1.105=0
cuda-runtime=11.8.0=0
easyocr=1.6.2=py39h214f63a_0
fuzzywuzzy=0.18.0=pyhd8ed1ab_0
ipykernel=6.19.2=py39hd4e2768_0
ipython=7.31.1=py39haa95532_1
ipython_genutils=0.2.0=pyhd3eb1b0_1
ipywidgets=8.0.4=py39haa95532_0
opencv=4.6.0=py39hf11a4ad_3
openjpeg=2.4.0=h4fc8c34_0
openpyxl=3.0.10=py39h2bbff1b_0
openssl=1.1.1u=h2bbff1b_0
python=3.9.12=h6244533_0
pytorch=2.0.1=py3.9_cuda11.8_cudnn8_0
pytorch-cuda=11.8=h24eeafa_5
pytorch-mutex=1.0=cuda
selenium=4.9.1=pyhd8ed1ab_0
